<!DOCTYPE html>
<html>
<head>
  <title>Thilda</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
    <%= yield :script_inject %>
  </script>
</head>
<body>
    <header>
        <div class="wrapper">
            <%= render partial: 'layouts/header' %>
        </div>
    </header>
    <main data-no-turbolink="nope">
        <div class="wrapper">
            <%= yield %>
        </div>
    </main>
    <footer>
        <div class="wrapper">
            <%= render partial: 'layouts/footer' %>
        </div>
    </footer>
</body>
</html>
